{% extends 'default/layout/base.twig' %}

{% block head %}
    {{ parent()  }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ path('css/phpduck.css') }}" />
{% endblock %}

{% block html %}
    <body id="{% block body_class '' %}" data-name="{% block page_id '' %}" data-root-path="{{ root_path }}">
        {% block content '' %}
        <script type="text/javascript" src="{{ path('js/phpduck.js') }}" ></script>
    </body>
{% endblock %}
